.container
{
    padding: 0.2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
background-color: bisque;

}

.map
{
    flex: 1;
    background-color: aquamarine;
    
}

.start
{
    flex: 1;
}